@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

:root {
  --cor-rosa: #BF8F9C;
  --cor-amarelo-claro: #D9923B;
  --cor-caramelo: #A65712;
  --cor-rosa-claro: #D99F7E;
  --cor-marrom: #592525;
  --fonte-bebas: 'Bebas Neue', sans-serif;
  --fonte-playfair: 'Playfair Display', serif;
  --fonte-geologica: 'Geologica', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.cabecalho {
  font-family: var(--fonte-bebas);
  background-color: var(--cor-rosa);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.cabecalho-esquerda {
  display: flex;
  align-items: center;
}

.cabecalho-esquerda-imagem {
  height: 120px;
  margin-left: 30px;
}

.cabecalho-esquerda-titulo {
  margin-left: 20px;
}

.cabecalho-data {
  align-self: center;
  font-size: 20px;
  text-align: right;
}

.menu {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-menu {
  justify-self: center;
  color: black;
  font-size: 12px;

}

.item-menu:hover {
  scale: 1.5;
}

.banner {
  background-image: url(imagens/banner.jpg);
  height: 50vh;
  width: 100%;
  object-fit: contain;
  margin-bottom: 5%;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  max-width: 90%;
  margin: auto;
  row-gap: 5%;
}

.noticia {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.noticia-imagem {
  width: 20vw;
  height: 30vw;
  object-fit: cover;
}


footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.rodape {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.rodape .rodape-esquerda, .rodape-centro, .rodape-direita {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.rodape .rodape-esquerda {
  width: 30%;
}

.rodape h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.rodape h3 span {
  color: #ffffff;
}

/* Footer links */

.rodape .rodape-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.rodape .rodape-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.rodape .rodape-empresa {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.rodape .rodape-centro {
  width: 35%;
}

.rodape .rodape-centro i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.rodape .rodape-centro i.fa-email {
  font-size: 17px;
  line-height: 38px;
}

.rodape .rodape-centro p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.rodape .rodape-centro p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.rodape .rodape-centro p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.rodape .rodape-direita {
  width: 30%;
}

.rodape .rodape-sobre-empresa {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.rodape .rodape-sobre-empresa span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rodape .rodape-icones {
  margin-top: 25px;
}

.rodape .rodape-icones a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.rodape .rodape-icones a:hover {
  background-color: #3F71EA;
}

.rodape-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .rodape .rodape-esquerda, .rodape-centro, .rodape-direita {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .rodape .rodape-centro i {
      margin-left: 0;
  }
}       

.video-make {
  margin: auto;
  display: block;
  padding: 200px;
  background-color: #2d2a30;
  height: 150px;
  margin-bottom: 8%;
}

